/* Styles for editor demo
 *
 * Author: Manshar
 */

/* === resets === */
body {
  margin: 0;
  font-size: 20px;
}

#container {
  margin: 0 auto;
}

#model-viewer {
  margin-left: 50%;
  background: #eee;
  padding: 1em;
  word-wrap: break-word;
  white-space: pre;
  margin-top: 0;
  height: 100%;
  position: fixed;
  overflow: auto;
  font-size: 0.7em;
  width: 50%;
}

#editor {
  width: 50%;
  float: left;
  padding: 2em;
  box-sizing: border-box;
}


/**
 * The following are for the editor library and should be moved
 * under src/ directory instead of demo.
 */
.manshar-editor {
  outline: none;
}

.manshar-editor h1 {
  margin: 0;
}

.manshar-editor p {
  margin: 2em 0;
  line-height: 1.5;
}

.manshar-editor[contenteditable=true] [placeholder]:empty:before {
  content: attr(placeholder);
  cursor: text;
  display: block; /* For Firefox */
  color: #c0c0c0;
}

.editor-toolbar {
  position: absolute;
  top: -99999px;
  left: -99999px;
}

.editor-toolbar .extra-fields {
  display: none;
}

.editor-toolbar .extra-fields.active {
  display: block;
  background-color: #2196F3;
}

.editor-toolbar .extra-fields input {
  background-color: transparent;
  border: none;
  padding: 12px;
  font-size: 0.7em;
  color: #fff;
  outline: none;
}

.editor-toolbar .extra-fields input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.buttons-fields-container {
  position: relative;
}

.extra-fields-container {
  position: absolute;
  top: -40px;
  width: 100%;
}

.editor-toolbar-buttons {
  margin: 0;
  padding: 0;
  font-family: serif;
}

.editor-inline-toolbar .editor-toolbar-buttons:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-color: #FF5722 transparent transparent transparent;
  bottom: -20px;
  left: 45%;
}

.editor-block-toolbar .editor-toolbar-buttons {
  margin-top: -30px;
}

.editor-toolbar-buttons button {
  border: 0;
}

.editor-inline-toolbar .editor-toolbar-buttons button {
  background-color: #FF5722;
  color: #fff;
  padding: 0.5em 0.8em;
  width: 2.5em;
  font-size: 0.9em;
}

.editor-block-toolbar .editor-toolbar-buttons button {
  background-color: #fafafa;
  color: #ccc;
  padding: 0.3em 0.5em;
  width: 2em;
  font-size: 0.7em;
}

.editor-toolbar-buttons button:hover {
  background-color: #BF360C;
  color: #fff;
}

.editor-block-toolbar .editor-toolbar-buttons button:focus {
  outline: none;
}

.editor-block-toolbar .editor-toolbar-buttons button.active {
  color: #2196F3;
}

.editor-inline-toolbar .editor-toolbar-buttons button.active {
  background-color: #2196F3;
  color: #fff;
}
