/**
 * Main Styles for Carbon.
 */
.carbon {
  outline: none;
}

.carbon h1 {
  margin: 0;
}

.carbon p {
  margin: 2em 0;
  line-height: 1.5;
}

.carbon figcaption.empty-paragraph {
  display: none;
}

.carbon-editor {
  outline: none;
}

.carbon-editor .carbon [placeholder].show-placeholder:after {
  content: attr(placeholder);
  cursor: text;
  display: inline; /* For Firefox */
  color: #c0c0c0;
}

.carbon .layout-single-column,
.carbon .layout-float-left,
.carbon .layout-float-right {
  max-width: 600px;
  margin: 0 auto;
}

.carbon .layout-bleed {
  max-width: 800px;
  margin: 0 auto;
}

.carbon .layout-stage {
  width: 100%;
}

.carbon .layout-float-left figure {
  float: left;
  margin: 0;
  margin-right: 2em;
  width: 300px;
}

.carbon .layout-float-right figure {
  float: right;
  margin: 0;
  margin-left: 2em;
  width: 300px;
}

.carbon figure {
  margin: 2em 0;
  text-align: center;
  /* To fix the position of toolbar when div is floated */
  display: inline-block;
  width: 100%;
}

.carbon figure .image-container {
  position: relative;
  height: 0;
  overflow: hidden;
}

.carbon figure .image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.carbon figure img {
  max-width: 100%;
  height: auto;
}

.carbon figure .selection-pointer {
  width: 0;
  height: 0;
  content: ' ';
  z-index: -1;
  outline: none;
}

.carbon figure figcaption {
  color: #ccc;
  font-style: italic;
  font-size: 0.8em;
  outline: none;
  padding: 0.5em 0;
}

.carbon figure .inner-container {
  position: relative;
  display: inline-block;
  width: 100%;
}

.carbon figure .embed-container {
  position: relative;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.carbon figure .embed-overlay,
.carbon figure .embed-container iframe,
.carbon figure .embed-container object,
.carbon figure .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.carbon figure .embed-container .fb-post iframe {
  width: 100% !important;
  height: 100% !important;
}

.carbon figure .embed-overlay {
  z-index: 9;
}

.carbon figure.editor-selected .embed-overlay {
  display: none;
}

.carbon figure iframe {
  display: inline-block !important;
}

.carbon figure .noembed-embed .noembed-wrapper {
  box-shadow: 0 1px 5px -2px #333;
}

.carbon figure .noembed-gist h3 {
  background: #DDDDDD;
  margin: 0;
  padding: 0.1em 0 1em;
}

.carbon figure .noembed-embed .gist-file {
  box-shadow: 0 1px 5px -2px #333;
  padding: 1em;
  font-size: 0.55em;
  text-align: left;
  background-color: #f5f5f5;
}

.carbon figure .noembed-embed .gist-description {
  font-size: 0.9em;
  text-align: center;
  padding: 1em;
  background: #ddd;
  color: #333;
  line-height: 1.4;
  margin: 0;
}

.carbon figure .noembed-embed .noembed-meta-info {
  text-align: center;
  width: 100%;
  background: #ddd;
  font-size: 0.7em;
  box-shadow: 0 1px 5px -1px #333;
}

.carbon figure .noembed-embed a {
  color: #333;
}

.carbon figure .noembed-embed img,
.carbon figure.editor-selected .noembed-embed img {
  border: none !important;
}

.carbon-editor .carbon figure img,
.carbon-editor .carbon figure .inner-container {
  box-sizing: border-box;
  border: 3px solid transparent !important;
}

.carbon-editor .carbon figure.editor-selected img,
.carbon-editor .carbon figure.editor-selected .inner-container {
  border: 3px solid #FF5722 !important;
}


@media (max-width: 500px) {
  .carbon .layout-float-left figure {
    float: none;
    margin-right: auto;
    width: auto;
  }

  .carbon .layout-float-right figure {
    float: none;
    margin-left: 2em;
    width: auto;
  }
}
