/**
 * Styling for carbon toolbars.
 */

.editor-toolbar {
  position: absolute;
  top: -99999px;
  left: -99999px;
  z-index: 999;
  font-size: 18px;
}

.editor-toolbar.rtl {
  direction: rtl;
}

.editor-toolbar .extra-fields {
  display: none;
}

.editor-toolbar .extra-fields.active {
  display: block;
  background-color: #2196F3;
}

.editor-toolbar .extra-fields input {
  background-color: transparent;
  border: none;
  padding: 12px;
  font-size: 0.7em;
  color: #fff;
  outline: none;
  width: 100%;
}

.editor-toolbar .extra-fields input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.buttons-fields-container {
  position: relative;
}

.extra-fields-container {
  position: absolute;
  top: -40px;
  width: 100%;
}

.editor-toolbar-buttons {
  margin: 0;
  padding: 0;
  font-family: serif;
}

.editor-inline-toolbar .editor-toolbar-buttons:after,
.layouting-toolbar .editor-toolbar-buttons:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-width: 5px;
  border-style: solid;
  border-color: #FF5722 transparent transparent transparent;
  bottom: -10px;
  left: 45%;
}

.editor-block-toolbar .editor-toolbar-buttons {
  margin-top: -30px;
}


.editor-block-toolbar .buttons-fields-container {
  box-shadow: 0 1px 3px -3px;
}

.editor-toolbar-buttons button {
  border: 0;
}

.editor-toolbar-buttons .button-container {
  display: inline-block;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.editor-toolbar-buttons .button-container.hidden {
  display: none;
}

.editor-toolbar button {
  outline: none;
  user-select: none;
}

.editor-inline-toolbar .editor-toolbar-buttons button,
.layouting-toolbar .editor-toolbar-buttons button {
  background-color: #FF5722;
  color: #fff;
  padding: 0.5em 0.8em;
  width: 2.5em;
  height: 2.5em;
  font-size: 0.9em;
}

.layouting-toolbar .editor-toolbar-buttons button {
  width: auto;
}

.layouting-toolbar .editor-toolbar-buttons button span {
  display: none;
}

.layouting-toolbar .editor-toolbar-buttons .upload-button button span {
  display: inline-block;
}

.editor-block-toolbar .editor-toolbar-buttons button {
  background-color: #fafafa;
  color: #ccc;
  padding: 0.3em 0.5em;
  width: 2em;
  font-size: 0.6em;
}

.editor-block-toolbar .editor-toolbar-buttons .upload-button button {
  padding: 0.3em 0.5em;
  width: 9em;
  font-size: 0.6em;
}

.editor-block-toolbar .editor-toolbar-buttons .code-button button {
  padding: 0.3em 0.5em;
  width: 7em;
  font-size: 0.6em;
}

.editor-toolbar-buttons button:hover {
  background-color: #BF360C;
  color: #fff;
}

.editor-block-toolbar .editor-toolbar-buttons button:focus {
  outline: none;
}

.editor-block-toolbar .button-container.active button {
  color: #2196F3;
}

.editor-inline-toolbar .button-container.active button {
  background-color: #2196F3;
  color: #fff;
}

.layouting-toolbar .button-container.active button {
  background-color: #2196F3;
  color: #fff;
}

.toolbelt-toolbar {
  max-width: 330px;
  display: flex;
  flex-wrap: wrap;
}

.toolbelt-toolbar .editor-toolbar-buttons {
  display: flex;
  text-align: left;
  flex-wrap: wrap;
  box-shadow: 0 1px 5px -3px;
}

.upload-button {
  position: relative;
  cursor: pointer;
  display: inline-block;
}

.upload-button i,
.code-button i {
  padding: 0 5px;
}

.upload-button button {
  background: transparent;
  cursor: pointer;
}

.upload-button:hover button {
  background-color: #BF360C;
  color: #fff;
}

.upload-button input {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  opacity: 0;
  cursor: pointer;
}

.toolbelt-toolbar .button-container {
  position: relative;
  font-size: 0.8em;
  flex-grow: 1;
  background: #FAFAFA;
  color: #000;
  text-align: left;
  cursor: pointer;
  width: 160px;
  border-bottom: 1px solid #f5f5f5;
  border-right: 1px solid #f5f5f5;
}

.toolbelt-toolbar button {
  background: none;
  color: #757575;
  font-size: 0.8em;
  padding: 1.2em 1em;
  width: 100%;
  text-align: left;
}

.toolbelt-toolbar.rtl button {
  text-align: right;
}

.toolbelt-toolbar button i {
  padding: 0 5px;
}
